---
import MasterHead from '../../layouts/MasterHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import BlogCard from '../../components/BlogCard.astro';
import Layout from '../../layouts/Layout.astro';

const posts = (await getCollection('blog')).sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout>
    <MasterHead slot="head" title="Blog" description={SITE_DESCRIPTION} />
    <main slot="main-contents">
        <section>
            <div class="blog-list">
                {
                    posts.map((post) => (
                        <BlogCard
                            slug={post.slug}
                            title={post.data.title}
                            date={post.data.pubDate}
                            image={post.data.heroImage}
                        />
                    ))
                }
            </div>
        </section>
    </main>
</Layout>

<style>
    .blog-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    @media (max-width: 768px) {
        .blog-list {
            grid-template-columns: 1fr;
        }
    }
</style>